# Mend documentation: https://docs.mend.io/en-US/bundle/unified_agent/page/getting_started_with_the_unified_agent.html

excludes=**/*sources.jar **/*javadoc.jar **/its/plugin/projects/** eslint-bridge/tests/**
fileSystemScan=False
resolveAllDependencies=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true

# Python dependencies https://docs.mend.io/bundle/wsk/page/configuring_the_unified_agent_for_python.html

python.resolveDependencies=true

python.ignoreSourceFiles=false

python.installVirtualenv=true

python.resolveHierarchyTree=true

python.ignorePipInstallErrors=false

python.resolvePipEditablePackages=true

python.runPoetryPreStep=true

python.includePoetryDevDependencies=true